openapi: 3.2.0
info:
  title: Visibility AI Audit API
  version: 0.1.0
  description: AI visibility / AEO audit API with x402 micropayments. No API key required.
servers:
- url: https://visibility.gleefulai.com
tags:
- name: Audit
paths:
  /api/audit/score:
    get:
      summary: Help for /api/audit/score
      operationId: _api_audit_score_help
      responses:
        '200':
          description: Endpoint help, sample request/response
      tags:
      - Audit
    post:
      summary: Fast AI visibility score with top issues
      operationId: _api_audit_score
      x-price: $0.06
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  description: URL or domain to audit
      responses:
        '200':
          description: Success with data + signed receipt
        '402':
          description: Payment required (x402 challenge)
      tags:
      - Audit
  /api/audit/full:
    get:
      summary: Help for /api/audit/full
      operationId: _api_audit_full_help
      responses:
        '200':
          description: Endpoint help, sample request/response
      tags:
      - Audit
    post:
      summary: Full AI visibility audit with categories and recommendations
      operationId: _api_audit_full
      x-price: $0.15
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  description: URL or domain to audit
      responses:
        '200':
          description: Success with data + signed receipt
        '402':
          description: Payment required (x402 challenge)
      tags:
      - Audit
  /api/audit/deep:
    get:
      summary: Help for /api/audit/deep
      operationId: _api_audit_deep_help
      responses:
        '200':
          description: Endpoint help, sample request/response
      tags:
      - Audit
    post:
      summary: Multi-page deep AI visibility audit
      operationId: _api_audit_deep
      x-price: $0.35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                crawl:
                  type: object
                  properties:
                    maxPages:
                      type: integer
                      maximum: 5
                    includePaths:
                      type: array
                      items:
                        type: string
                      maxItems: 5
                    excludePaths:
                      type: array
                      items:
                        type: string
                      maxItems: 20
      responses:
        '200':
          description: Success with data + signed receipt
        '402':
          description: Payment required (x402 challenge)
      tags:
      - Audit
